# Ignore everything
*

# Do not ignore directories
!*/

# Track the top-level results folder
!results/
!results/**

# Track function_detective
!function_detective/
!function_detective/**


function_detective/.idea/

**key.json